# Ignore everything at root level
*
!.gitignore

# Whitelist specific items
!addons/
!addons/**
!commands
!readme.md
!docker-compose.yaml
!Dockerfile
!docker_scripts/**


src/**
.idea/**
.venv/**
.ai/**
