# Ignore everything at root level
*
!.gitignore

# Whitelist specific items
!addons/
!commands
!readme.md
!docker-compose.yaml
!Dockerfile
!docker_scripts/**


# Make sure we keep the directory structure
!*/
/old_files/docker-compose.yaml

src/*
