#Odoo-docker-directory
#├── addons
#├── config
#│   └── odoo.conf
#├── docker-compose.yaml
#├── odoo_pg_pass
#└── sessions

# Create a config file inside the config directory with the following content
# [options]
# addons_path = /mnt/extra-addons

# docker-compose.yaml
services:
  web:
    image: odoo:latest
    depends_on:
      - db
    restart: always
    ports:
      - "8069:8069"
      - "8072:8072"

    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    environment:
      - PASSWORD_FILE=/run/secrets/postgresql_password
    secrets:
      - postgresql_password
  db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password
volumes:
  odoo-web-data:
  odoo-db-data:
# Create a file named odoo_pg_pass in the same directory and enter your database password for odoo
secrets:
  postgresql_password:
    file: odoo_pg_pass